.board {
  display: flex;
  flex-wrap: wrap;
  width: 1400px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
}

.field {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100px;
  margin: 10px;
  border: 1px solid black;
  font-size: 15px;
}
.player {
  z-index: 1;
  width: 15px;
  height: 15px;
  border-radius: 100%;
}
.players {
  display: flex;
}
.hide {
  display: none;
}
.players__list {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 20px;
  background-color: rgb(184, 184, 184);
}
